
footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button {
    border: none;
    padding: 10px 20px;
    min-width: 100px;
    border-radius: 5px;
    background-color: #C2A56D;
    color: #E8EDF2;
    font-size: 17px;
}

button:disabled {
    cursor: not-allowed; 
    pointer-events: none;
}